<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.prince.circe.dao.mybatis.StockPriceMapper">
    <insert id="insertStockPrice" parameterType="StockPrice">
        INSERT INTO reader.stock_price(stock_symbol, date, price)
        VALUES (#{stockSymbol}, '${date}', #{price})
    </insert>
    <select id="selectStockPrice" resultType="StockPrice" parameterType="java.util.Map">
        SELECT stock_symbol, date, price
        FROM reader.stock_price
        WHERE
        stock_symbol = #{stockSymbol}
        AND date = '${date}'
    </select>

    <select id="selectAllStockPrice" resultType="StockPrice">
        SELECT stock_symbol, date, price
        FROM reader.stock_price
    </select>

    <delete id="deleteStockPrice" parameterType="java.util.Map">
        DELETE FROM reader.stock_price
        WHERE
        stock_symbol = #{stockSymbol}
        AND date = '${date}'
    </delete>
</mapper>